<h1>Top 10 active:</h1>

<% @matches.sort_by { |k,v| v }.reverse.first(10).each do |share_name,total_match| %>

   <h2><%="#{share_name.upcase} = #{total_match}" %></h2>
    <%= link_to("Show related news", :action => 'show_per_share', :controller => 'parser', :share => share_name)%>
    <% #TODO: Add link to corresponding articles %>
<% end %>


<p><%= link_to("See all news", :action => 'show', :controller => 'parser')%></p>