<div id="top15">
<h1>Top 15 active:</h1>

<% @matches.each do |share_name,total_match| %>
  <h2><%="#{share_name.upcase} = #{total_match}" %></h2>
  <%= link_to("Show related news", :action => 'show_per_share', :controller => 'home', :share => share_name)%>
<% end %>
<p><%= link_to("See all news", :action => 'show', :controller => 'home')%></p>

</div>