<h1> All the News </h1>
<%= link_to("Top 15 shares", :action => 'index', :controller => 'home')%>


<% @feeds.each do |key,value| %>
    <% #TODO - order by source  %>
    <div id="share_article">
        <h2> <%= raw key    %> </h2>
        <p><%= raw value  %></p>
    </div>
    <%  #TODO - not show html tag %>
<% end %>

