<h1> All the News </h1>
<%= link_to("Top 10 shares", :action => 'index', :controller => 'home')%>
<% @feeds.each do |item| %>
        <% #TODO - order by source  %>
        <h2> <%= raw item.title    %> </h2>
        <pre class='feed_content'><%= raw item.content     %></pre>
        <%  #TODO - not show html tag %>
<% end %>

