body {
  background-color: #29264d;
  color: #bff740;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px; }

pre.feed_content { word-wrap: break-word; max-height: 150px; overflow-y: auto; width: 99%; overflow-x: visible; border: 5px solid #bff740; }

pre {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  background-color: #29264d;
  padding: 5px; }
.feed_content p {padding: 0; margin: 0;word-wrap: break-word;}

a {
  color: #A6A6FF;
  &:visited {
    color: #A6A6FF; }
  &:hover {
    color: #74d0f4; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

h1{
  color: rgb(143, 191, 255);
  text-shadow: 0 0 6px rgba(56,187,253,.7);
}
