body {
  background-color: #29264d;
  color: #bff740;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #A6A6FF;
  &:visited {
    color: #A6A6FF; }
  &:hover {
    color: #74d0f4; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

h1{
  color: rgb(143, 191, 255);
  text-shadow: 0 0 6px rgba(56,187,253,.7);
}
